header{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    color: white;    
    padding-bottom: 30px;
    width: 100%;
    

}

.header_middle{
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
    color: white;
    margin-top: 30px;
    font-size: 20px;
    
}
 a{
    text-decoration: none;
    color: #f0f8ff;
    font-weight: 700;
    font-size: 125%;

}
.underline{
    text-decoration: underline;

.header_right{
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content:space-around;
    margin-top: 30px;
    padding-top: 45px;
    color: white;
    font-size: 20px;
}
.logo{
    width: 30%;
    text-indent: 40px;
    color: white;
    font-size: 170%;
    padding-top: 25px;
button{
    background-color: #ED661F;
    color: white;
    text-align: center;
    font-size: 36px;
    padding: 5%;
    width: 120%;
    margin-left: -15px;
    height: 110%;
    margin-top: -20px;
}
.main1{
    /*background-image: url(/assets/images/background_image.png); */
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:100% 100%;    
    margin-bottom: 10%;
