header{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    color: white;    
    padding-bottom: 30px;
    width: 100%;
    

}

.header_middle{
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
    color: white;
    margin-top: 30px;
    font-size: 20px;
    
}
 a{
    text-decoration: none;
    color: #f0f8ff;
    font-weight: 700;
    font-size: 125%;

}
.underline{
    text-decoration: underline;
