/*Do not change the layout or image sizes.
The following are the background menus and the screen menu text colors for the project.
Primary Color: #ED661F
Font type: Poppins, Inter*/



header{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    color: white;    
    padding-bottom: 30px;
    width: 100%;
    

}

.header_middle{
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
    color: white;
    margin-top: 30px;
    font-size: 20px;
    
}
.header_middle a:hover{
    background-color: coral;
    padding: 10px 10px 10px 10px;
}
.underline>a{
    text-decoration: none;
}
 a{
    text-decoration: none;
    color: #f0f8ff;
    font-weight: 700;
    font-size: 125%;

}
.underline{
    text-decoration: underline;


}
.header_right{
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content:space-around;
    margin-top: 30px;
    padding-top: 45px;
    color: white;
    font-size: 20px;
}
.logo{
    width: 30%;
    text-indent: 40px;
    color: white;
    font-size: 170%;
    padding-top: 25px;
}
button{
    background-color: #ED661F;
    color: white;
    text-align: center;
    font-size: 36px;
    padding: 5%;
    width: 120%;
    margin-left: -15px;
    height: 110%;
    margin-top: -20px;
}
#explore{
    
   padding: 2%;
    text-align: center;
    width: max-content;
    border: 0ch;
    position: relative;
    margin-bottom: 100px;
    margin-left: 75px;
    margin-top: 150px;
}
.main1{
    /*background-image: url(/assets/images/background_image.png); */
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:100% 100%;    
    margin-bottom: 10%;


    

}
.h1{
    text-align: left;
    width: 60%;
    font-size: 310%;
    position: sticky;
    margin-left: 50px;
    margin-top: 200px;
   
}
    
#img1{
    float: right;
    width: 60%;
    margin-top: 100px;
   

}
.numbers{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 40%;
    margin-left: 29%;
    padding: 4%;
    background-color: whitesmoke;
    padding-bottom: 25px;
    padding-top: 25px;
    box-shadow: 0px 5px 8px black;
    width: 50%;
    font-size: 150%;

}
.numbers>div{
    text-align: center;
}
h2{
    font-weight: 900;
    text-decoration-line:underline;
    text-underline-offset: 30%;
    text-decoration-color: #ED661F;
    text-decoration-style: 10px 1px solid;
    font-size: 200%; 
}
    .item1 h2{
        font-size: 250%;
    }
    .item2 h2{
        font-size: 250%;
    }

 #why{
    float: right;
    margin-top: -500px;
}
.why>p{
    margin-top: 200px;
}
.why{
    text-align: left;
    font-size: 300%;
    width: 40%;
    margin-left: 75px;
    
}
.our{
 font-size: 250%;
 text-align: center;
 margin-top: 20%;
 width: 1000px;
 margin-left: 1000px;
}
.our>p{
    text-align: center;
    margin-top: 100px;
}
.most{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top: 100px;
    margin-left:-90px;
    
}
.newest{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: -90px;
}

.padding{
    background-color: white;
    margin: 10px 20px 10px 20px;
   
}
.item1{
    margin-left: 50px;
    margin-top: 100px;
    
}

.item2{
    margin-left: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    
}
.see{
    
    display: flex;
    
    justify-content: end;
    width: 90%;
    margin-top: 50px;
   
    
}
.read{
    display: flex;
    justify-content: end;
    margin-top: 50px;
    width: 90%;
}

#see{
    font-size: 300%;
    font-weight: 800;
    color: black;
}
#see:hover{
    color:#ED661F;
    background-color: #11a8e4;
    padding: 10px;
}
